html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100vh;

  @include breakpoint($sm) {
    font-size: 18px;
  }
}

#root {
  transition: opacity 1s ease;
}

a[href],
button {
  touch-action: manipulation;
}

%noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  outline: 0;
}