$gold: #9a9365;
$white: #fff;
$blue: #346eaf;
$offWhite: #e7e5e3;
$lightGrey: #9a9a9a;
$lightGray: $lightGrey;
$midGrey: #666;
$midGray: $midGrey;
$darkGrey: #1d1d1b;
$darkGray: $darkGrey;
$otherGrey: #ddd;
$lightOtherGrey: #b7b8ba;
$menuGrey: #7f8186;
$borderGold: #cbc6b6;
$black: #000;
$mobileMenuBorderColor: rgba(231, 229, 227, 0.1);
$dropDownMenuBorderColor: rgba(231, 229, 227, 0.3);
$lightGreyMenu: #808186;
$otherOtherGrey: #f8f7f7;
$superLightGrey: #92928f;
$myCirclesGrey: #757983;
$darkRed: #8c1010;
$lighterGrey: #e6e6e6;
$purple: #905a9b;
$red: #bf4234;
$darkBlue: #324476;
$randomGrey: #555554;
$buttonBorderGrey: #e4e4e4;
$bubbleBg: #f3f3f1;
$bubbleBorder: #dedede;